<footer>
        <div class="col-1">
            <div>Launching India's Finest</div>
            <hr>
            <h3 class="contact-design">Contact</h3>
             India LLP<br>
            <div class="address">
                <div>
                    <h4>Pune</h4><br>
                    201, Kamdhenu, Senapati Bapat<br> Road, Shivaji Nagar, Pune<br> 411016, Maharashtra, India.<br>
                    <br><br>
                    <span>99999-99999</span>
                </div>
                <div>
                    <h4>Indore</h4><br>
                    Technology Center <br>J-11, 2nd floor, Dhanvantari Apartment<br>, MOG Lines, Indore - 452002,<br>
                    Madhya Pradesh, India.
                    <br><br>
                    <span>info@getnada.com</span>
                </div>
            </div>
        </div>
        <div class="col-2">Interac<br>
            The Cliquet<br>
            Meet the Team<br>
            Life at Cast India<br>
            Cover, Uncover<br>
            Talk the Talk<br><br>
            Explore<br>
            Contest Page<br>
            Offers<br>
            Magazine/News<br>
            Video Diaries<br>
        </div>
        <div class="col-3">Business Programs<br>
            Membership Page<br>
            Ambassador Program<br>
            Advertise with Us<br>
            Collaborations and Partnerships<br>
            Referral Programs<br><br>
            Support<br>
            Help<br>
            Careers at CastIndia<br>
            Affiliates<br>
        </div>
        <hr>
        <div class="sign">
            <span> Copyright &copy; 2021</span>
        </div>
    </footer>